body {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav-container {
    width: 100%;
    height: 4.5em;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    z-index: 100;
}

.nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 149, 112);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav a:active::before {
    visibility: visible;
    transform: scaleX(1)
}

.nav a {
    color: #464646;
}

ul.nav {
    font-size: 20px;
    list-style: none;
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    z-index: 101;
    top: 0.5em;
    right: 1.5em;
}

.nav li {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

.main-container{
    position: relative
}

.mainLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intelligent-statement {
    color: #464646;
    font-size: 20px;
    position: relative;
    top: -50px;
    display: block;
    text-align: center;
}